.main{
  width:100%;
  height:600px;
  background-color: orangered;
  position: relative;
}
.main .login-form{
  width: 70%;
  height: 400px;
  background-color: aliceblue;
  position: absolute;
  margin: 100px 15%;
  padding: 20px;
  border-radius: 3px;
}
.main .register-form{
  width: 70%;
  height: 400px;
  background-color: aliceblue;
  position: absolute;
  margin: 100px 15%;
  padding: 20px;
  border-radius: 3px;
}
.icon{
  width: 75px;
  height: 75px;
  background-color:yellow;
  margin: -50px auto 0px auto;
    border-radius: 50%;
    border:5px solid gray
  
}
.register-form .icon{
  background-color: #fff;
}
.icon img{margin-left: 7px; margin-top: 4px;}

input[type=password]{border: none;background-color: #ccc;text-align: center;}
input[type=email]{border: none;background-color: #ccc;text-align: center;}

.login-para{
  text-align: center;
  color: red;
}
.register-para{
  text-align: center;
  color: red;
  
}

.errors{
  position: relative;
  top: -20px;
}